<div class="tasks">
    <div class="task">
        <img src="assets/images/Screenshot_1.png" alt="">
        <h2>Angular cenzor</h2>
        <button [routerLink]="[ 'worms/cenzor' ]">details</button>
    </div>
    <div class="task">
        <img src="assets/images/Screenshot_3.png" alt="">
        <h2>Angular task list</h2>
        <button [routerLink]="[ 'worms/tasks' ]">details</button>
    </div>
    <div class="task">
        <img src="assets/images/Screenshot_2.png" alt="">
        <h2>Angular user list</h2>
        <button [routerLink]="[ 'worms/user-list' ]">details</button>
    </div>
</div>